@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body,
html {
  height: 100%;
  margin: 0;
}
h1{
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 3px;
  text-align: justify;
}
textarea{
  resize: none;
  max-width: 95%;
  align-self: center;
}

.text-left{
  text-align: left;
}
.back-con{
  padding-bottom: 2%;
  background-image: url("../img/bg2.jpg");
}
.abt-bg{
  background-image: url("../img/bg3.jpg");
  background-repeat: no-repeat;
}
.cont-bg{
  background-image: url("../img/bg4.jpg");
}
.btn-nav {
  color: #fff;
  text-decoration: none; 
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.btn-nav:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #E09C78;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.btn-nav:hover:after { 
  width: 100%; 
  left: 0; 
}
.btn-card {
  color: #fff;
  text-decoration: none; 
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.btn-card:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 10%;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.btn-card:hover:after { 
  width: 100%; 
  left: 5%;
}
.text-center {
  text-align: center;
}
.text-u{
  text-decoration: underline;
  text-decoration-thickness: 0.15rem ;
}
.fix-foot{
  text-decoration: none;
}

.checked {
  color: orange;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bannerF.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}
.inner-grid img {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
}
.moto-text{
  text-align: left;
  position: absolute;
  top: 21.2%;
  left: 11.5%;
  color: white;
}
.search-btn {
  text-align: center;
  position: absolute;
  top: 36%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}

.forms {
  width: 55%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.forms-label {
  width: 20%;
  padding: 1rem;
  font-size: 1.1rem;
}
.forms-content {
  text-align: center;
}

.forms-control {
  width: 60%;
  margin: 15px 0;
  padding: 10px;
}

.radio-list {
  margin-right: 5%;
  display: inline;
}

.radio {
  margin: 0 20px;
}

input[type="submit"] {
  width: 15%;
  padding: 10px;
  color: #000;
  margin: 20px 0;
}

@media screen and (max-width: 800px) {
  .inner-grid {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 990px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/bannerF.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .moto-text{
    text-align: center;
    position: absolute;
    top: 18%;
    left: 15.5%;
    color: white;
  }
  .moto-text p{
    text-align: left;
  }
  .search-btn {
    text-align: center;
    position: absolute;
    top: 35.5%;
    left: 28.8%;
    transform: translate(-50%, -50%);
    color: white;
  }
}
@media screen and (max-width: 540px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/bannerF.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .moto-text{
    text-align: center;
    position: absolute;
    top: 18%;
    left: 12%;
    color: white;
  }
  .search-btn {
    text-align: center;
    position: absolute;
    top: 33%;
    left: 38.3%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 black;
}

.product-detail{
  border: 2px solid red;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
}
.flex-items{
  display: flex;
}
.size{
  max-width: 360px;
  height: 480px;
}
.product-img{
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-details{
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 100px;
}

.rate-product{
  background-color: #fdfdfd;
  display: flex;
  flex-flow: column nowrap;
}
.rate-c-v{
  text-align: center;
  margin: 2% 8% 2% 8%;
  padding: 1% 1% 1% 1%;
  border: 1px solid black;
}
.rate-c-v h4{
  text-align: center;
}

.rate-c-v p{
  text-align: justify;
}
.p-r {
  color: #333;
  font-family: 'segoe ui', sans-serif;
  font-size: 24pt;
  transition: transform .5s ease;
}
.p-r:hover {
  transform: scale(1.5, 1.5);
}
.rating {
  display: block;
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: center;
}
.rating .star {
  display: none;
}
.rating label {
  color: lightgray;
  display: inline-block;
  font-size: 22pt;
  margin: 0 -2px;
  transition: transform .15s ease;
}
.rating label:hover {
  transform: scale(1.35, 1.35);
}
.rating label:hover,
.rating label:hover ~ label {
  color: orange;
}
.rating .star:checked ~ label {
  color: orange;
}

@media screen and (max-width: 1236px) {
  .product-detail{
    border: 5px solid black;
    margin-left: 50px;
    margin-right: 50px;
  }
  .flex-items{
    display: flex;
  }
  .product-img{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-details{
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
  }
}


@media screen and (max-width: 1080px) {
  .product-detail{
    border: 5px solid black;
    margin-left: 30px;
    margin-right: 30px;
  }
  .flex-items{
    display: flex;
  }
  .product-img{
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-details{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 880px) {
  .product-detail{
    border: 5px solid black;
    margin-left: 10px;
    margin-right: 10px;
  }
  .flex-items{
    display: flex;
  }
  .product-img{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-details{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 730px) {
  .product-detail{
    border: 5px solid black;
    margin-left: 50px;
    margin-right: 50px;
  }
  .flex-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product-img{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .product-details{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 540px) {
  .product-detail{
    border: 5px solid black;
    margin-left: 20px;
    margin-right: 20px;
  }
  .flex-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .product-img{
    max-width: 100%;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-details{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 440px) {
  .product-detail{
    border: 5px solid black;
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .flex-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .size{
    height: 300px;
    width: 240px;
  }
  .product-img{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-details{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 360px) {
  .product-detail{
    border: 5px solid black;
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .flex-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .size{
    height: 240px;
    width: 160px;
  }
  .product-img{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .product-details{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
  }
}

/* cart */
.cart-page{
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}
.flex-cart{
  display: flex;
}
.cart-table{
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}
table{
  width:100%;
  table-layout: fixed;
}
tr:nth-child(odd){
  background-color: whitesmoke;
}
tr:nth-child(even){
  background-color: ghostwhite;
}
th{
  background-color: #6f42c1;
  color: white !important;
}
th, td{
  padding: 10px 10px;
  text-align: left;
  color: black;
}
.cart-sum{
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

@media screen and (max-width: 740px) {
  .cart-page{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
  }
  .flex-cart{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .cart-table{
    border: 2px solid red;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
  }
  table{
    width:100%;
    table-layout: fixed;
  }
  tr:nth-child(odd){
    background-color: grey;
  }
  tr:nth-child(even){
    background-color: blueviolet;
  }
  th, td{
    padding: 10px 10px;
    text-align: keft;
    color: black;
  }
  .cart-sum{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: blueviolet;
  }
}

/* FAQs */
.faq-con{
  border: 2px solid black;
}
.faq-qa{
  text-align: center;
  margin: 5% 15% 5% 15%;
  padding: 1% 1% 1% 1%;
  border: 2px solid red;
}
.faq-qa p{
  text-align: center;
}
.faq-qa p, ol, li{
  text-align: left;
}
.faq-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/faq-banner.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}
@media screen and (max-width: 990px){
  .faq-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/faq-banner.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
}
@media screen and (max-width: 540px) {
  .faq-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/faq-banner.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center
;  }
}

.tac-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/tac-banner.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: center;
}
.tac-text{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 26%;
    color: white;
}

.tac-text h1{
  font-size: 90px;
}

@media screen and (max-width: 990px){
  .tac-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/tac-banner.jpg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .tac-text{
      text-align: center;
      position: absolute;
      top: 30%;
      left: 15%;
      color: white;
  }
  
  .tac-text h1{
    font-size: 70px;
  }
}

@media screen and (max-width: 540px){
  .tac-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/tac-banner.jpg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
  }
  .tac-text{
      text-align: center;
      position: absolute;
      top: 18%;
      left: 2%;
      color: white;
  }
  
  .tac-text h1{
    font-size: 50px;
  }
}

/* SEARCH-BAR */
.search-bar{
  margin: 2% 2% 2% 2%;
}
.flex-search{
  display: flex;
}
.side-cat-search{
  border: 2px solid black;
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
  background-color: white;
}
.main-cat-item{
  width: 75%;
  padding-bottom: 1%;
}
@media screen and (max-width: 666px) {
  .search-bar{
    border: 2px solid black;
    margin: 2% 2% 2% 2%;
  }
  .flex-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .side-cat-search{
    align-content: center;
    border: 2px solid red;
    margin: 1% 1% 1% 10%;
    padding: 1% 1% 1% 1%;
    background-color: aquamarine;
  }
  .main-cat-item{
    margin-left: 6.5%;
    width: 75%;
    border: 2px solid red;
    padding-bottom: 1%;
  }
  
}

/* SHOP */
.shop-container{
  margin: 2% 2% 2% 2%;
}
.shop-flex{
  display: flex;
}
.sort-shop{
  border: 2px solid black;
  margin: 1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
  background-color: whitesmoke;
}
.shop-products{
  width: 75%;
  padding-bottom: 1%;
}
@media screen and (max-width: 666px) {
  .shop-container{
    border: 2px solid black;
    margin: 2% 2% 2% 2%;
  }
  .shop-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sort-shop{
    align-content: center;
    border: 2px solid red;
    margin: 1% 1% 1% 10%;
    padding: 1% 1% 1% 1%;
    background-color: aquamarine;
  }
  .shop-products{
    margin-left: 6.5%;
    width: 75%;
    border: 2px solid red;
    padding-bottom: 1%;
  }
}

/* Contact US */
.td-con{
  box-shadow: 0 4px 24px 0 black;
}
.card-body-con{
  display: flex;
  flex-direction: column;
}
/* About Us */
.text-h{
  opacity: 0.7;
}
.text-h:hover{
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  color: red;
}

/* Meet Our Team */
div.card.mot{
  opacity: 0.7;
}
div.card.mot{
  opacity: 1;
}